BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: None
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
ObjCSpaceAfterProperty: true
PointerBindsToType: false
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
